html, body{
    margin: 0;
    font-family: Nunito, sans-serif;
    font-size: 19px;
}

header{
    color: #e4fde1;
    background-color: #456990;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    text-align: center;
    z-index: 1
}

.contato{
    text-decoration: none;
    size: 50px;
}

#profile-picture{
    height: 80%;
    border-radius: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 6.5%;
    border: #e4fde1 solid 4px;
}

.nome{
    margin-right: 15%;
}

.sidebar{
    background-color: #028090;
    position: fixed;
    display: flex;
    width: 20%;
    height: 100%;
    align-items:center; 
    flex-direction: column;
    justify-content:space-around;
}

#links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50%;
    margin-top: 50%;

}

.linking{
    color: #E4FDE1;
    align-self: center;
    margin-bottom: 20%;
}

main{
    display: flex;
    position: relative;
    color: #E4FDE1;
    background-color: #114B5F;
    width: 80%;
    height: 80%;
    top: 4rem;
    flex-direction: column;
    justify-content: flex-end;
    float: right;
    z-index: 0;
    padding-bottom: 5rem;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 5%;
    margin-top: 25%;
    margin-bottom: 18rem;
    justify-content: center;
}

.content{
    margin-right: 40%;
}

@media only screen and (max-width: 680px) {
    #profile-picture{
        height: 60%;    
    }

    .nome{
        line-height: 20px;
        font-size: 10px;
        margin-right: 5%;
    }

    main section{
        margin-top: 9rem;
    }

    .content{
        margin-right: 10%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
        .sidebar{
        width: 30%;
    }

    #links{
        font-size: 17px;
    }

    main{
        width: 70%;
    }

}

@media only screen and (max-width: 1200px) {
    .content{
        margin-right: 20%;
    }
}


@media only screen and (max-height: 670px) {
    header{
        height: 30%;
    }

    #profile-picture{
        height: 70%; 
        margin-left: 12%;   
    }

    .nome{
        line-height: 20px;
        font-size: 12px;
        margin-right: 15%;
    }

    .sidebar{
        width: 30%;
        
    }
    
    #links{
        margin-top: 50%;
        margin-bottom: 10px;
    }

    #info{
        margin-bottom: 10%;
    }

    main{
        width: 70%;
    }

    main section{
        margin-top: 6rem;
    }

    .content{
        margin-right: 10%;
    }
}